body {
  
  background: linear-gradient(10deg, rgb(3, 3, 3), hsl(0, 8%, 95%));


  color: white;
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 40px;
}





.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;

  position: sticky;
  top: 0;
  
  z-index: 10;
  

}


h1 {
  color: rgb(0, 0, 0);
 
  padding: 4px 8px;
  border-radius: 2px;

}

.rank {
  color: rgb(0, 0, 0);
  background: linear-gradient(to right, #000000, hsl(0, 0%, 100%));
  padding: 5px 10px;
  border-radius: 4px;
  text-decoration: none;
  font-weight: bold;
  transition: 0.5s;
}

.rank:hover {
  border: 6px solid rgb(255, 255, 255);
  box-shadow: 0 5px 5px 8px rgb(255, 255, 255);
}

h2 {
  color: rgb(254, 254, 254);
  margin-top: 30px;
}

ul {
  margin-left: 20px;
  line-height: 1.6em;
  background: rgb(114, 114, 114);
  padding: 15px;
  border-radius: 8px;

}

.img {
  margin: 20px 0;
  opacity: 0.2;
  width: 300px;
  transition: 0.5s;
}

.img img {
  width: 100%;
  border-radius: 6px;
}

.img:hover {
  opacity: 1;
  width: 60%;
  border: 6px solid rgb(255, 255, 255);
  box-shadow: 0 5px 5px 8px rgb(255, 255, 255);
}




.parallax {
  transition: transform 0.1s linear;
  will-change: transform;
}

footer {
    color: #4f4e4e;
  text-align: center;
  margin-top: 40px;
  opacity: 0.6;
}


li:hover {
  color: rgb(0, 0, 0);
  transform: translateX(5px);
}
p, li {
  text-shadow: 0 1px 2px rgb(51, 51, 51);
}
@keyframes siteIntro {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

body {
  animation: siteIntro 1s ease-out;
}
.pogoda{
 color:rgb(237, 179, 179)}
.🤑{
  color:rgb(237, 179, 179)}
.you{
  color: rgb(237, 179, 179)}


